# {{ ansible_managed }}
proc            /proc           proc    defaults          0       0
/dev/mmcblk0p1  /boot           vfat    defaults          0       2
/dev/mmcblk0p2  /               ext4    defaults,noatime  0       1
# a swapfile is not a swap partition, no line here
#   use  dphys-swapfile swap[on|off]  for that

//192.168.0.80/Data/Pi /mnt/pi cifs username=guest,password=,_netdev,uid=1000,gid=1000,iocharset=utf8,file_mode=0777,dir_mode=0777,noperm 0 0
